.switch-toggle-checkbox {
  position: relative;
}

.switch-toggle-checkbox [type="checkbox"]:checked,
.switch-toggle-checkbox [type="checkbox"]:not(:checked) {
  position: absolute;
  visibility: hidden;
}
.switch-toggle-checkbox [type="checkbox"]:checked + label,
.switch-toggle-checkbox [type="checkbox"]:not(:checked) + label {
  position: relative;
  padding-right: 25px;
  cursor: pointer;
  line-height: 22px;
  display: inline-block;
  color: #666;
}
.switch-toggle-checkbox [type="checkbox"]:checked + label:before,
.switch-toggle-checkbox [type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(30%, -75%);
  width: 50px;
  height: 24px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 30px;
  background: #fff;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.switch-toggle-checkbox [type="checkbox"]:checked + label:after,
.switch-toggle-checkbox [type="checkbox"]:not(:checked) + label:after {
  content: "";
  width: 18px;
  height: 18px;
  background: #fff;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(-68%, -83%);
  border-radius: 100%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.switch-toggle-checkbox [type="checkbox"]:not(:checked) + label:before {
  background: #fff;
}

.switch-toggle-checkbox [type="checkbox"]:checked + label:before {
  background: #39c0ed;
}

.switch-toggle-checkbox [type="checkbox"]:not(:checked) + label:after {
  right: 15px;
}

.switch-toggle-checkbox [type="checkbox"]:checked + label:after {
  right: -11px;
}
